.username {
    padding: 20px;
}

.duplicate-error {
    color: coral;
}

.user-tbm-name {
    margin: 20px;
}

.row.manage-buttons {
    float: right;
}

.home-nav {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.search-nav {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}
